[Unit]
 Description=Portfolio API to provide the data to frontend.

[Service]
 WorkingDirectory=/opt/portfolio-api/
 SuccessExitStatus=143
 ExecStart=./start.sh

[Install]
 WantedBy=multi-user.target